@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
}

.main {
  background-color: #211f1f;
  overflow: hidden;
}

.movies {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;

  .movie {
    width: 25%;
    position: relative;
    cursor: pointer;

    @media (max-width:750px) {
      width: 50%;
    }

    img {
      width: 100%;
      transition: all 0.5s ease-in-out;

      &:hover~.overview {
        display: block;

      }
    }
  }

  .review {
    position: absolute;
    top: 0;
    left: 0;
    background: red;
    color: #FFF;
    padding: 5px 10px;
  }

  .overview {
    color: #FFF;
    background-color: rgba(255, 0, 0, 0.842);
    line-height: 1.5rem;
    position: absolute;
    bottom: 0;
    display: none;
    padding: 10px;

    &:hover {
      display: block;

    }
  }
}


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
